<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="set-initiative-styles.css" />
		<link rel="stylesheet" href="../../components/modal-styles.css" />
		<title>DnD Encounters - Player Helper</title>
	</head>
	<body>
		<div class="initiative-setup">
			<div class="party-container">
				<h2>
					Party
					<span>
						<button class="modal-btn party-btn">+</button>
					</span>
				</h2>
				<ul class="party-list"></ul>
			</div>
			<div class="enemies-container">
				<h2>
					Enemies
					<span>
						<button class="modal-btn enemy-btn">+</button>
					</span>
				</h2>
				<ul class="enemies-list"></ul>
			</div>
		</div>
		<button class="confirm-btn">Confirm players</button>

		<!-- The Modal -->
		<div class="modal">
			<!-- Modal content -->
			<div class="modal-content">
				<span class="modal-close">&times;</span>
				<h2>Add a character</h2>

				<!-- Modal Tab -->
				<div class="tab">
					<button class="tablinks" data-title="party">
						Party
					</button>
					<button class="tablinks" data-title="enemy">
						Enemy
					</button>
				</div>

				<!-- Tab content -->
				<div id="party-tab-content" class="tabcontent hide">
					<h3>Party Element</h3>
				</div>
				<div id="enemies-tab-content" class="tabcontent hide">
					<h3>Enemy Element</h3>
				</div>
				<!-- end Tab content -->
				<!-- end modal tab -->
			</div>
		</div>
		<!-- end The Modal -->
		<script src="../../comunications.js"></script>
		<script src="../../components/modal.js"></script>
		<script src="../../data/data.js"></script>
		<script src="../../helpers/helpers.js"></script>
		<script src="script.js"></script>
	</body>
</html>
