<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="encounter-styles.css" />
		<title>Encounter Page</title>
	</head>
	<body>
		<h1>cenas</h1>
		<div class="encounter-list-container"></div>
		<div>
			<button class="next-btn">next</button>
			<button class="previous-btn">previous</button>
		</div>
	</body>
	<script src="encounter.js"></script>
	<script src="encounter-template.js"></script>
	<script src="../../comunications.js"></script>
</html>
